.page-header
    %h1= t('plan.title')
%a.btn.btn-primary{:href => new_admin_plan_path} New
%table.table.table-striped
    %thead
        %tr
            %th.col-md-1
            %th.col-md-1
            %th.col-md-6{:class=> 'text-center'}
                = t('helper.title')
            %th.col-md-3{:class=> 'text-center'}
                = t('helper.datetime')
            %th.col-md-1{:class=> 'text-center'}
                = t('helper.status')
    - @plans.each do |plan|
        %tr
            %td
                %a{:href => edit_admin_plan_path(plan)}
                    %span.glyphicon.glyphicon-pencil
            %td
                %a{:href => admin_plan_path(plan), 'data-method'=> 'delete'}
                    %span.glyphicon.glyphicon-remove
            %td{:class=> 'text-center'}
                = plan.title
            %td{:class=> 'text-center'}
                = l plan.created_at, format: :long
            %td{:class=> 'text-center'}
                = t("helper.status-#{plan.status}")
