.page-header
    %h1= t('plan.title')
%a.btn.btn-primary{:href => new_admin_plan_path} New
%table.table.table-striped
    %thead
        %tr
            %th.col-md-1
            %th.col-md-1
            %th.col-md-9= t('helper.title')
            %th.col-md-1= t('helper.status')
    - @plans.each do |plan|
        %tr
            %td
                %a{:href => edit_admin_plan_path(plan)}
                    %span.glyphicon.glyphicon-pencil
            %td
                %a{:href => admin_plan_path(plan), 'data-method'=> 'delete'}
                    %span.glyphicon.glyphicon-remove
            %td= plan.title
            %td= t("helper.status-#{plan.status}")
