.page-header
    %h1= t('plan.title')
%a.btn.btn-primary{:href => new_admin_plan_path} New
%table.table.table-striped
    %thead
        %tr
            %th.col-md-1
            %th.col-md-1
            %th.col-md-9= t('helper.title')
            %th.col-md-1= t('helper.status')
    - @plans.each do |plan|
        %tr
            %td
                =link_to 'Edit', edit_admin_plan_path(plan)
            %td
                =link_to 'delete', admin_plan_path(plan), :method => :delete
            %td= plan.title
            %td= t("helper.status-#{plan.status}")
