.page-header
    %h1= t('study.title')
%a.btn.btn-primary{:href => new_admin_study_path} New
%table.table.table-striped
    %thead
        %tr
            %th.col-md-1
            %th.col-md-1
            %th.col-md-9= t('helper.title')
            %th.col-md-1= t('helper.status')
    - @studies.each do |study|
        %tr
            %td
                %a{:href => edit_admin_study_path(study)}
                    %span.glyphicon.glyphicon-pencil
            %td
                %a{:href => admin_study_path(study), 'data-method'=> 'delete'}
                    %span.glyphicon.glyphicon-remove
            %td= study.title
            %td= t("helper.status-#{study.status}")
