.page-header
    %h1= t('study.title')
%a.btn.btn-primary{:href => new_admin_study_path} New
.row
    .col-md-9
        %table.table.table-striped
            %thead
                %tr
                    %th.col-md-1
                    %th.col-md-1
                    %th.col-md-1{:class=> 'text-center'}
                        = t('user.classes')
                    %th.col-md-4{:class=> 'text-center'}
                        = t('helper.title')
                    %th.col-md-3{:class=> 'text-center'}
                        = t('helper.datetime')
                    %th.col-md-1{:class=> 'text-center'}
                        = t('helper.status')
            - @studies.each do |study|
                %tr
                    %td
                        %a{:href => edit_admin_study_path(study)}
                            %span.glyphicon.glyphicon-pencil
                    %td
                        %a{:href => admin_study_path(study), 'data-method'=> 'delete'}
                            %span.glyphicon.glyphicon-remove
                    %td{:class=> 'text-center'}
                        = classesName(study.classes)
                    %td{:class=> 'text-center'}
                        = study.title
                    %td{:class=> 'text-center'}
                        = l study.created_at, format: :long
                    %td{:class=> 'text-center'}
                        = t("helper.status-#{study.status}")
    .col-md-3
        = render 'nav'
