= form_for @news, :url=> admin_news_path(@news) do |f|
    = f.label :title
    = f.text_field :title

    = f.label :content
    = f.text_area :content

    = f.label :line
    = f.number_field :line

    = f.label :status
    = f.select(:status, options_for_select([["public", "1"], ["private", "0"]]))

    =f.submit