.page-header
    %h1= t('backend.news.main')
%a.btn.btn-primary{:href => new_admin_news_path} New
%table.table.table-striped
    %thead
        %tr
            %th.col-md-1
            %th.col-md-1
            %th.col-md-6{:class=> 'text-center'}
                = t('helper.title')
            %th.col-md-3{:class=> 'text-center'}
                = t('helper.datetime')
            %th.col-md-1{:class=> 'text-center'}
                = t('helper.status')
    - @news.each do |news|
        %tr
            %td
                %a{:href => edit_admin_news_path(news)}
                    %span.glyphicon.glyphicon-pencil
            %td
                %a{:href => admin_news_path(news), 'data-method'=> 'delete'}
                    %span.glyphicon.glyphicon-remove
            %td{:class=> 'text-center'}
                = news.title
            %td{:class=> 'text-center'}
                = l news.created_at, format: :long
            %td{:class=> 'text-center'}
                = t("helper.status-#{news.status}")
