.page-header
    %h1= t('backend.paper.title')
.row
    .col-md-9
        %a.btn.btn-primary{:href => new_admin_paper_path} New
        %table.table.table-striped
            %thead
                %tr
                    %th.col-md-1
                    %th.col-md-1
                    %th.col-md-2= t('admin.paper.type')
                    %th.col-md-1= t('admin.paper.year')
                    %th= t('admin.paper.name')
            - @papers.each do |paper|
                %tr
                    %td
                        %a{:href => edit_admin_paper_path(paper)}
                            %span.glyphicon.glyphicon-pencil
                    %td
                        %a{:href => admin_paper_path(paper), 'data-method'=> 'delete'}
                            %span.glyphicon.glyphicon-remove
                    %td= t("admin.paper.#{paper._type}")
                    %td= paper.year
                    %td= paper.name
    .col-md-3
        .well
            / Link or button to toggle dropdown
            %ul.nav
                %li{role: "presentation"}
                    %a{:href => admin_paper_index_path}
                        = t('All')
                        - if @paper_statistics[:All] != 0
                            %span.label.label-primary.pull-right= @paper_statistics[:All]
                %li{role: "presentation"}
                    %a{:href => admin_paper_index_path}
                        = t('admin.paper.PA')
                        - if @paper_statistics[:PA] != 0
                            %span.label.label-primary.pull-right= @paper_statistics[:PA]
                %li{role: "presentation"}
                    %a{:href => admin_paper_index_path}
                        = t('admin.paper.IS')
                        - if @paper_statistics[:IS] != 0
                            %span.label.label-primary.pull-right= @paper_statistics[:IS]
                %li{role: "presentation"}
                    %a{:href => admin_paper_index_path}
                        = t('admin.paper.DS')
                        - if @paper_statistics[:DS] != 0
                            %span.label.label-primary.pull-right= @paper_statistics[:DS]
