<!DOCTYPE html>
<html>
<head>
  <title>ICCL</title>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "common/nav" %>
<%= carousel %>
<div class="container">
    <%= yield %>
</div>


</body>
</html>
